DB_HOST=localhost
DB_PORT=8889
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=enrollment_db_sia_final

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=your_brevo_smtp_login
SMTP_PASSWORD=your_brevo_smtp_key
SMTP_FROM_EMAIL=your_verified_sender@example.com
SMTP_FROM_NAME=EduSchool

CSRF_SECRET=change_me_to_a_random_32_char_string

PAYMONGO_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxx
PAYMONGO_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxx
