DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=enrollment_db_sia_final

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=your_mailtrap_username
SMTP_PASSWORD=your_mailtrap_password
SMTP_FROM_EMAIL=no-reply@eduschool.test
SMTP_FROM_NAME=EduSchool

CSRF_SECRET=change_me_to_a_random_32_char_string
